@import "tailwindcss";

@plugin "daisyui"{
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4D9ED0;
  --color-accent : #898989;
  --color-base-300: #EEEEEE;
}
*{
  font-family: "Poppins", sans-serif;
}
